* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
}

*::before,
*::after {
  box-sizing: border-box;
}
.main-container {
  display: flex;
}
.reg-form {
  display: flex;
}
.branding-section {
  background-image: url("./branding.jpeg");
  width: 200px;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
}
