* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
}

*::before,
*::after {
  box-sizing: border-box;
}
.main-container {
  display: flex;
}
.reg-form {
  display: flex;
}
.form-container {
  background-color: white;
  padding: 40px;
}
.branding-section {
  background-image: url("./branding.jpeg");
  width: 500px;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}
.branding-header {
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  margin-top: 126px;
}
.spacer {
  flex-grow: 1;
}
.odin-logo {
  width: 100px;
}
.branding-text {
  color: white;
}
.non-branding-section {
  background-color: #d3d3d3;
  width: 100%;
}

.header-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
  height: 250px;
  justify-content: flex-end;
}
cite {
  text-decoration: underline;
}
footer {
  text-align: center;
}
